html {
  font-family: 'Roboto', sans-serif;
  background-color: #1d1a51;
  background-image: linear-gradient(to bottom right, #1d1a51, #3b982d);
  background-repeat: round;
  color: whitesmoke;
  height: 100%;
  text-align: center;
}

h1 {
  font-size: 3em;
}

#hrule {
  width: 75vw;
  border-color: black;
  background-color: black;
  height: 2px;
  margin-bottom: 2em;
  margin-top: 2em;
}

.sub-title {
  font-size: 0.5em;
  font-weight: 300;
  font-style: italic;
}

.input-div {
  display: inline-block;
  border: 1px solid black;
  width: 75vw;
  margin-top: 2em;
  margin-bottom: 2em;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.output-div {
  display: inline-block;
  border: 1px solid black;
  width: 50vw;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 10px;
}

#shorten,
.short-url-style,
.long-url-style {
  margin: 0;
  padding: 0;
  height: 3em;
  border: none;
  font-size: 1.25em;
}

.short-url-style {
  background-color: whitesmoke;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  color: #1d1a51;
  font-weight: bold;
}

.long-url-style {
  width: 80%;
  text-indent: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: whitesmoke;
  color: #1d1a51;
}

#shorten {
  width: 20%;
  background-color: #122335;
  color: whitesmoke;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#shorten:disabled {
  color: #999;
}

.long-url-style:focus {
  outline: none;
}

.short-url-style:focus {
  outline: none;
}

.copy-style {
  font-size: 1.4em;
  font-weight: bolder;
  color: black;
}

.hidden {
  display: none;
}

#footer {
  width: 100%;
  overflow: hidden;
  position: fixed;
  bottom: 20px;
  text-align: center;
}

a[target='_blank']::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0px 3px 0px 5px;
}

.recent-link {
  font-size: 1.25em;
  color: black;
}

#recent-section {
  margin: 3em;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 10px 40px;
}

thead {
  font-size: 1.25em;
  font-weight: bold;
  color: black;
}

td a {
  color: black;
  font-weight: 500;
}

@media screen and (max-width: 500px) {
  .input-div {
    width: 90vw;
  }

  .output-div {
    width: 95vw;
  }

  .long-url-style {
    width: 70%;
  }

  #shorten {
    width: 30%;
  }

  #footer {
    /* position: unset; */
    margin-top: 20px;
  }
}
