html {
  font-family: 'Roboto', sans-serif;
  background-color: #1d1a51;
  background-image: linear-gradient(to bottom right, #1d1a51, #3b982d);
  background-repeat: no-repeat;
  color: whitesmoke;
  height: 100%;
  text-align: center;
}

textarea {
  border-style: none;
  border-color: transparent;
  overflow: hidden;
  resize: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.short-res-style {
  text-align: center;
  font-weight: 500;
}

.shorten-btn {
  display: block;
  padding: 20px;
  margin: 20px auto;
}

.shorten-btn:disabled {
  color: #444;
  background-color: grey;
}

#footer {
  width: 100%;
  overflow: hidden;
  position: fixed;
  bottom: 20px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  #footer {
    /* position: unset; */
    margin-top: 20px;
  }
  textarea {
    width: 80vw;
  }
}
